.button{
  background: var(--third-color);
  color: white;
  display: flex;  
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.3rem 4.5rem;
  border: none;
  border-radius: 2.5rem;
  outline: none;  
  cursor: pointer;
}

.button:hover,
.button:active{
  background: var(--fourth-color);
}

.cart-icon{
  margin-right: .8rem;
}

.total{
  background-color: var(--second-color);
  border-radius: 1.5rem;
  padding: .5rem 1.5rem;
  margin-left: 1.8rem;
}

.button:hover .total,
.button:active .total{
  background: var(--first-color);
}

.bump{
  animation: vibration 350ms ease-in-out forwards;
}

@keyframes vibration {
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(.9);
  }
  66%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}