.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: rgba(0, 0, 0, .6); 
  z-index: 1000;

  display: flex;
  flex-direction: row;  
  align-items: center;
  justify-content: space-evenly;

  gap: 3rem;
  padding: 3rem; 
}

.modal{ 
  background: white; 
  box-shadow: none;
  width: 64rem; 
  padding: 1.5rem;
  margin-block: auto; 
}


@media (max-width: 850px){ 
  .modal--{
    display: none; 
  }
}