.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background-color: rgba(0, 0, 0, .6); 
  z-index: 1000;
}

.modal{ 
  background: white;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  box-shadow: none;
  width: 64rem;
  padding: 1.5rem;
  animation: slideDown 500ms ease forwards;
}

@keyframes slideDown {
  from{
    top: 10vh;
    opacity: 0;
  }
  to{
    top: 20vh;
    opacity: 1;
  }
}
