.meal-list{ 
  background: white;
  margin: 3.5rem auto;
  width: 90vw;
  max-width: 96rem;
  padding: 3rem 3rem;
  animation: slideUp 1s ease-in-out forwards;
}

.meal-list ul{  
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@keyframes slideUp {
  from{
    opacity: 0;
    transform: translateY(3.5rem);
  }

  to{
    opacity: 1;
    transform: translateY(0);
  }
}