.cart-list{
   display: flex;
   flex-direction: column;
   overflow: auto;
   max-height: 32rem; 
  margin-bottom: 2.6rem; 
}

.process{

}

.total{
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.actions{ 
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}

.button{
  margin-left: 1.6rem;
  font-size: 1.6rem;
  border: 1px solid var(--second-color);
  border-radius: 2rem;
  padding: 1rem 3.3rem;
  cursor: pointer;
}

.button--close{
  color: var(--second-color);  
}

.button--order{
  color: white;
  background: var(--second-color);
}

.button:hover,
.button:active{
  color: white;
  border-color: var(--third-color);
  background: var(--third-color);
}

@media (max-width: 768px) {
  .cart-list{
    
  }
}