.header{
  background: var(--first-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.5rem;
  padding: 1.3rem 9vw;
  z-index: 500;
  box-shadow: 0 0 .5rem .1rem #444;
}

.header h1{
  font-size: 3.2rem;
}