.input{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-controls{

}

.input label{
  font-size: 1.6rem;
  font-weight: bold;
}

.input input{ 
  margin-left: 1.8rem;
  padding: .3rem 0;
  padding-left: .8rem;
  width: 3.5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;  
  font-size: 1.6rem; 
}

.button{
  background: var(--first-color);
  border: 1px solid var(--first-color);
  border-radius: 2rem;
  outline: none;
  padding: .6rem 3.1rem;  
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
}

.button:hover, 
.button:active{
  background: var(--third-color);
}